.input_content{
width:100%; max-width:1000px; margin:0 auto;
}
.hundred_percent{
width:100%; height:100%;
}
.error_message{
color:black;
}
.view_message{
color:red;
text-align: center;
}
.view_box{
clear:both;
height:200px;
}